h1 {
  color: #C0C0C0;
  padding-top: 120px;
  font-size: 68px;
}
h2 {
  color: 	#A9A9A9;
}
h3 {
  color: 	#A9A9A9;
}
body {
  background-color: #800020;
/*  background-image: url("../img/burgundy.jpg");*/
  background-repeat: no-repeat;
  background-size: cover;
}
p {
    color: 	#A9A9A9;
}
.header {
  background-size: contain;
  background-color: #000;
  height: 280px;
  width: 100%;
  text-align: center;
}

.portfolio {
  width: 50%;
  height: auto;
  float: right;
  background-color: #000;
  border: 10px solid #800020;
  border-radius: 30px;
  padding: 20px 20px;
}
.aboutme {
  width: 50%;
  height: auto;
  float: left;
  background-color: #000;
  border: 10px solid #800020;
  padding: 20px 20px;
  border: 10px;
  border-radius: 30px;
}
.images {
  background-image: url("../img/me.jpg");
  width: 50%;
  height: auto;
  float: right;
  background-color: #000;
  border: 10px solid #800020;
  border-radius: 30px;
  padding: 20px 20px;
}
img {
  float: left;
  width: 200px;
  border-radius: 30px;
}
button{
  background-color: #960018;
  border: none;
}
a{
  text-decoration: none;
  font-weight: bold;
  color: #a9a9a9;
}
