h1 {
  color: #C0C0C0;
  padding-top: 120px;
  padding-bottom: 50px;
  font-size: 68px;
}
h2 {
  color: 	#A9A9A9;
}
body {
  background-color: #800020;
}
p {
    color: 	#A9A9A9;
}
.header {
  background-size: contain;
  background-color: #000;
  height: 300px;
  width: 100%;
  text-align: center;
}

.portfolio {
  width: 30%;
  float: right;
}
.aboutme {
  width: 50%;
  float: left;

}
