h1 {
  color: #C0C0C0;
  padding-top: 120px;
  padding-bottom: 50px;
  font-size: 68px;
}
h2 {
  color: 	#A9A9A9;
}
body {
  background-color: #800020;
}
p {
    color: 	#A9A9A9;
}
.header {
  background-size: contain;
  background-color: #000;
  height: 280px;
  width: 100%;
  text-align: center;
}

.portfolio {
  width: 50%;
  float: right;
  background-color: #000;
  border: 10px solid #800020;
}
.aboutme {
  width: 50%;
  float: left;
  background-color: #000;
  padding-top: 20px;
  border: 10px solid #800020;
}
.images {
  width: 50%;
  float: right;
  background-color: #000;
  border: 10px solid #800020;
}
